body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    height: fit-content;
    margin:10px;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div#auth.container,div#register.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 300px;
    height: fit-content;
    margin:10px;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    margin: 8px;
    padding: 10px;
    width: 60%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
input#register-username,#register-password {
    margin: 8px 15px;
    padding: 10px;
    width: 60%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

input#new-todo {
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
button {
    cursor: pointer;
    margin: 5px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
}
button.auth-btn {
    cursor: pointer;
    margin: 5px 0;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
}

span {  /* kayıt ol giriş yap yazıları için */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.logout-btn {  /* çıkış yap butonu işlemleri */
    background-color:rgb(42, 208, 208);
    border-style:double;
    padding:10px;
    position:fixed;
    top: 5px;
    right: 10px;

  
}
.logout-btn:hover{   /* buton üstüne gelince olacak olan işlemler */
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}




.todo-container {  /* todo container kısmı */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    top: 50%;
    left: 50%;
}

.todo-input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
 
}

.todo-input button {   /* ekle butonu */
    padding: 12px 25px;
    border-radius: 25px;
    margin: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
}

.todo-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.todo-input.todo-item {   /* todo list kısmı   */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.todo-item {   /* todo list kısmı   */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-item p {
    flex: 1;
    margin: 0;
    padding: 0 6px;
    text-align: left;
}

.todo-item button.update-btn {
    color: #18bd1e;
    border-radius: 70px;
    margin-left: 10px;
}

.todo-item button.delete-btn {
    color: #ee041b;
}


.todo-item .btn-container button {
    border: none;
    background: none;
}
.status-select-main {
    padding: 8px;
    margin-top:6.5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.status-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.material-symbols-outlined { /* icons */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
